/*global*/
a:hover{
	color:green;
}
/*header*/
.logo{
	margin-left: 35px;
	margin-top: 25px;
}
.test{
	display: flex;
	text-align: right;
	margin-top: 10px;
}
.titreh2{
	margin-left: 35px;
	
	padding-top: 15px;
}
.titreh2 div{

}
.titreStr{
	font-size: 1.3em;
}


.test div{
	padding: 15px;
	margin-right: 35px;
}
header{
	display: flex;
	align-content: space-between;
	justify-content: space-between;

	
}
/*barre de recherche ville*/
nav{

}
.villegps{
	display: flex;
}
.searchbar{
	display: flex;
	align-items: stretch;
}
.fa-map-marker-alt{
	color: black;
}
.logogps{
	display: flex;
	justify-content: center;
	align-items: center;

}
.search1{
	background: #CCC;
	width: 100px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.logogps{
	background-color: #CCC;
	height: 40px;
	width: 45px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 35px;
}

/*barre de filtre*/

.menufiltre{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	
	margin-left: 35px;
	margin-right: 85px;
	align-content: center;
	margin-bottom: 30px;
	margin-top:40px;
	font-size: 1.1em;
}
.menunav{
	
}
.textefiltre{
	padding-top: 10px;
}
.information{
	background: purple;
	margin-left: 35px;
	margin-bottom: 30px;

}
.fa-info{
	color: blue;
}
.eco{
	
	padding: 10px 25px 10px 25px;
	border: 2px grey solid;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.fam{
	
	padding: 10px 25px 10px 25px;
	border: 2px grey solid;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.love{
	
	padding: 10px 25px 10px 25px;
	border: 2px grey solid;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
.animaux{
	
	padding: 10px 25px 10px 25px;
	border: 2px grey solid;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
/*.filtre{
	background: purple;
	margin-left: 80px;
	margin-right: 80px;

	display: flex;
	justify-content: space-around;
}*/
/*.searchbar{
	background-color: red;
	display: flex;
	justify-content: center;

}*/
/* Hebergements a marseille*/
.hebergements{
	

	width: 100%;
	
	margin: 0 5px 60px 35px;
	background: grey;
	border-radius: 20px / 20px;
	
	
}
/*.section1{

	display: flex;
	flex-wrap: wrap;
	width: 60%;
	min-width: 500px;
	height: 400px;


}*/
.textheberge{
	background: red;
	margin: 45px 0 0 30px;

}
.textafficher{
	background: red;
	margin: 45px 0 0 30px;
}
/*section{
	background-color: #CCC;
	
	border-radius: 20px / 20px;
	margin: 10px;
	
}*/
.element img{
	
	width: 100%;
	height: 60%;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;


}
.textphoto{
	padding: 20px;
	
	background: green;
	

	
}

.element{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	background-color: #FFF;
	padding: 4px;
	margin: 20px 0 20px 0;
	border-radius: 20px / 20px;

}

.conteneur{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
/*article{
	
	width: 50%;
	padding: auto;
}*/
/*populaires*/
.element2 img{
	overflow: auto;
	object-fit: cover;
	
	width: 40%;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	
	float: left;
	
	
}
.element2{
	border-radius: 20px / 20px;
	margin: 4px;
	margin-left: 35px;
	margin-bottom: 10%;
	padding: 6px;
	background: #FFF;
	width: 75%;
	display: flex;
	
	

}
.textphoto2{
	background: green;
	width: 100%;
}
.populaires{
	margin: 0 35px 60px 20px;
	border-radius: 20px / 20px;
	background: red;
	display: flex;
	flex-direction: column;
}
/*heberge+populaire*/
.hebergepopu{
	display: flex;
}




/*Activites*/
.activites{
	display: flex;
	margin: 35px;
}
.actimars{
	margin-left: 35px;
}
.activites img{
	overflow: auto;
	width: 100%;
	height: 110px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.port img{
	height: 85%;
}
.calanques img{
	height: 85%;
}
.port{
	background: #CCC;
	border-radius: 20px /20px;
	margin: 0 15px 0 0;
}
.fortile{
	border-radius: 20px / 20px;
	margin: 0 15px 0 15px;
	display: flex;
	flex-direction: column;
}
.fort{
	background: #CCC;
	border-radius: 20px / 20px;
	margin: 0 0 15px 0;
}
.ile{
	background: #CCC;
	border-radius: 20px / 20px;
	margin: 15px 0 0 0;
}	
.calanques{
	background: #CCC;
	border-radius: 20px / 20px;
	margin: 0 15px 0 15px;
}
.gardelongchamp{
	border-radius: 20px / 20px;
	margin: 0 0 0 15px;
	display: flex;
	flex-direction: column;
}
.garde{
	background: #CCC;
	border-radius: 20px / 20px;
	margin: 0 0 15px 0;
}
.longchamp{
	background: #CCC;
	border-radius: 20px / 20px;
	margin: 15px 0 0 0;
}

/*FOOTER*/
footer{
	background: #CCC;
	display: flex;


}
.apropos{
	background: blue;
	display: flex;
	flex-direction: column;
}
.nosheberge{
	background: pink;
}
.assistance{
	background: yellow;
}
